results
data
.snakemake
envs/
logs/
config/BAK
config/cluster_eval
.vscode
!workflow/envs
.cache
bootstrap
*html
resources
clipboard
*.yaml
*.yml
!config/config.yml
!dardel/config.yaml
!local/config.yaml
!test/config.yaml
!test/config.yml